/* GENERALI */
* {
  margin: 0;
  padding: 1px 1px 0 1px;
  overflow-x: hidden;
}

html,
body {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

/* SEZIONE HEADER */
h1 {
  text-align: center;
  font-size: 3em;
  background-color: #ffaa00;
  padding: 0.5em;
}

/* SEZIONE NAV */
.breadcrumb {
  font-size: 1.5em;
  border: solid 1px black;
}

.breadcrumb li {
  padding-left: 0.5em;
}

/* SEZIONE DEL CONTENUTO - MAIN */
main {
  border: solid 1px black;
}

h2 {
  padding: 0.2em 0 0.2em 0.5em;
  border-bottom: 1px dashed black;
}

/* TABELLA */
table {
  overflow: hidden;
  text-align: center;
  width: 100%;
}

thead {
  display: table-header-group;
  table-layout: fixed;
}

th {
  display: table-cell;
  text-align: center;
}
/* SEZIONE FOOTER */
footer {
  background-color: #007c7c;
  color: white;
  font-style: italic;
  text-align: center;
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
}
